<footer class="bg-light p-2">

  <div class="container text-center">
    <div class="pb-1">
      <a href="#" class="btn btn-primary mr-3 py-2 rounded-circle">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="btn btn-primary mr-3 py-2 rounded-circle">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="btn btn-primary py-2 rounded-circle">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

    <div>
      <span>WritersBloq &copy; {{currentYear}}</span>
    </div>
    
  </div>
</footer>
