<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4 bg-dark" style="height: 200px;">
    </div>
    <div class="col-md-8">
      <div class="card-body p-2">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex flex-row-reverse p-1">
          <button class="btn btn-primary btn-sm">Read</button>
          <button class="btn btn-light btn-sm mr-3">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
