<div class="container-fluid px-0">
  <!-- Home Page Banner -->
  <div class="banner-base">
    <div class="container p-0">
      <div class="banner-inner">
      </div>
    </div>
  </div>

  <!-- Home Page Search bar -->
  <div class="container py-4">
    <div class="row">
      <div class="col-md-7 mx-auto text-center">
        <h3 class="mb-2">Writers Bloq</h3>
        <p class="mb-2">Read the works of up and coming writers. Access hundereds of stories all self-published by individuals like yourself! Create an accoount to contribute to the website's story library by registering. Not a writer, but more of a reader? No problem! You don't need to register to read! Hit the get started button to begin reading stories.</p>
        <button routerLink="/stories" class="btn btn-primary btn-lg">Get Started</button>
      </div>
    </div>
  </div>


</div>
