<div class="container pt-4">
  <div class="row text-center">
    <h2 class="mb-0 text-center w-100">Chapter Title</h2>
    <hr class="mt-4 mb-2 bg-primary w-50">
  </div>
  <div class="row pt-3">
    <div class="col-md-8 mx-auto border rounded p-3 mb-2 indenter">
      <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lectus tincidunt, cursus nibh
        elementum, vestibulum nibh. Proin vestibulum orci quis hendrerit pellentesque. Integer lectus odio, scelerisque
        fringilla consectetur eget, venenatis ac urna. Fusce sit amet ante mi. Aliquam mollis massa eget nisl lacinia,
        sit amet fringilla massa aliquam. Praesent dapibus quis purus a tincidunt. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas. Donec ac arcu blandit, blandit sapien sed,
        condimentum eros. Nullam scelerisque enim vel tortor mattis viverra. Phasellus vehicula risus tortor, et
        aliquam leo pellentesque in. Maecenas id volutpat purus.</p>

      <p class="mb-1">Sed eleifend, tellus quis condimentum ultricies, purus augue dictum metus, ac fringilla felis
        neque at augue.
        Integer felis eros, ornare vitae gravida at, dapibus sit amet ante. Sed at ultrices nulla. Nam et interdum
        tortor, quis aliquam tortor. Suspendisse convallis nulla sit amet tellus sollicitudin convallis. Suspendisse
        potenti. Morbi lacus ligula, faucibus eget est porttitor, posuere cursus diam. Curabitur euismod velit libero,
        efficitur volutpat risus tincidunt eget. Etiam congue quam sit amet massa feugiat, quis vestibulum turpis
        pulvinar. Sed varius, nulla eget tempus facilisis, lectus sem eleifend risus, vitae bibendum justo odio eu mi.
        Nunc ac molestie est, non venenatis erat. Mauris quis pretium enim, sed imperdiet nisi. Mauris venenatis congue
        purus id tincidunt. Nulla porta purus erat, nec elementum quam consectetur nec. Donec ornare sodales sodales.
      </p>

      <p class="mb-1">Ut sit amet justo nisi. Vivamus ac leo quis odio euismod tincidunt. Proin fringilla pellentesque
        risus lobortis
        luctus. Ut ac est est. Sed id fringilla velit. Phasellus nec elit lacinia, venenatis turpis rhoncus, hendrerit
        arcu. Curabitur maximus eu lectus in accumsan. Etiam egestas consectetur iaculis. Aenean blandit risus vel
        tristique scelerisque. Integer diam dui, tristique a felis eget, faucibus facilisis felis. Nulla facilisi.
        Nulla consectetur lacinia lobortis. Sed erat elit, bibendum quis mi eget, viverra ultrices nulla.
      </p>


      <p class="mb-1">Etiam sagittis nulla ut enim sodales, vel rutrum nisi dictum. Quisque dictum et purus sed
        consequat. Phasellus
        aliquet ligula tellus, vel luctus justo hendrerit vel. Quisque mollis nunc eu lobortis faucibus. Etiam
        vestibulum, erat et porttitor porta, odio tortor elementum tortor, eget posuere tortor urna sed quam. In luctus
        sem eget scelerisque maximus. Nam eget ultricies urna. Pellentesque rhoncus varius consequat. Donec semper
        purus vel urna luctus, eu viverra arcu convallis. Morbi elementum nulla non nisi bibendum aliquam. Curabitur
        sed diam quis lacus pharetra cursus non a lectus. Pellentesque nec pharetra nulla. Proin id venenatis libero.
        Fusce tristique eget mauris vitae consequat. Duis in nisi dui.
      </p>

      <p class="mb-1">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam ut
        venenatis quam.
        Nullam ullamcorper augue venenatis dolor finibus lacinia vitae id urna. Maecenas vel erat et sapien pretium
        euismod. Pellentesque non scelerisque justo, vitae malesuada nisi. Nunc sed lacinia felis, eget hendrerit quam.
        Nam id fringilla sapien.</p>
      <div class="d-flex flex-row justify-content-between pt-3 w-100">
          <button class="btn btn-primary btn-sm">Back</button>
          <button class="btn btn-primary btn-sm">Next</button>
      </div>
    </div>
  </div>

</div>