<div class="container pt-4">
  <!-- Login page title -->
  <div class="row text-center">
    <h2 class="mb-0 text-center w-100">Login</h2>
    <hr class="mt-4 mb-2 bg-primary w-50">
    <div class="w-100"></div>
    <a routerLink="/register" class="d-block mx-auto mb-4">New user? Register!</a>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form (ngSubmit)="login()">
        <!-- Email Address input field -->
        <div class="form-group">
          <label for="email">Email Address</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-envelope text-primary"></i>
              </span>
            </div>
            <input 
              type="text" 
              class="form-control" 
              name="email" 
              placeholder="Email" 
              aria-label="Email"
              [(ngModel)]="email">
          </div>
        </div>

        <!-- Password input field -->
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock text-primary"></i>
              </span>
            </div>
            <input 
              type="password" 
              class="form-control" 
              name="password" 
              placeholder="Password" 
              aria-label="Password"
              [(ngModel)]="password">
          </div>
        </div>

        <!-- Confirm login button -->
        <div class="w-50 pt-2 mx-auto">
          <button type="submit" [class.disabled]="loading" class="btn btn-primary btn-lg btn-block">
            <span *ngIf="!loading; else spinner">Login</span>
            <ng-template #spinner><i class="fa fa-circle-notch fa-spin"></i></ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
