<div class="container pt-4">
  <div class="row text-center">
    <h2 class="mb-0 text-center w-100">Story Title</h2>
    <hr class="mt-4 mb-2 bg-primary w-50">
  </div>
  <div class="row">
    <ngb-tabset class="w-100" justify="center">
      <!-- Details Tab -->
      <ngb-tab title="Details">
        <ng-template ngbTabContent>
          <div class="container">
            <div class="row my-3 ">
              <div class="bg-secondary text-white pr-2 d-flex flex-column justify-content-center text-right d-inline-block mx-auto">
                <i class="fas fa-book fa-3x m-5"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mx-auto d-flex flex-row text-center">
                <div class="w-100">
                  <p class="mb-1 mr-2">Author: Jose Meono</p>
                  <p class="mb-1 mr-2">Genre: Mystery</p>
                  <p class="mb-1 mr-2">Tags: #funny, #humor, #thriller</p>
                  <p class="mb-1">Publish Date: 03/05/2019</p>
                </div>
              </div>
            </div>
          </div>
          <p class="mb-1 text-center">Summary: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            dapibus pellentesque scelerisque. Aliquam mattis, massa ac pretium volutpat, mauris dolor vulputate risus,
            eget scelerisque arcu ipsum sit amet nunc. Sed sit amet aliquet purus. In hac habitasse platea dictumst.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia Curae.
          </p>
        </ng-template>
      </ngb-tab>

      <!-- Comments Tab -->
      <ngb-tab title="Comments">
        <ng-template ngbTabContent>
          <div class="container pt-2">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <input type="text" class="form-control" placeholder="New Comment">
                <div class="text-center mt-1 mb-2">
                  <button class="btn btn-primary ">Submit</button>
                </div>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-8 mx-auto border border-light rounded shadow p-2">
                <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                  dapibus pellentesque scelerisque.</p>
                <p class="mb-0 muted"><small>Courtney Walker, 03/01/2019 4:53PM</small></p>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <!-- Chapter Tab -->
      <ngb-tab title="Chapters">
        <ng-template ngbTabContent>
          <div class="container pt-2">
            <div class="row pt-3">
              <div class="col-md-8 mx-auto">
                <p class="mb-1 text-center">
                  <a routerLink="/stories/1/chapters/1">Chapter 1: We Will Survive!</a>
                </p>
                <p class="mb-1 text-center">
                  <a routerLink="/stories/1/chapters/1">Chapter 2: Did He Survive?</a>
                </p>
                <p class="mb-1 text-center">
                  <a routerLink="/stories/1/chapters/1">Chapter 3: He Did Not Survive</a>
                </p>
                <p class="mb-1 text-center">
                  <a routerLink="/stories/1/chapters/1">Chapter 4: Wait Maybe He Did Survive</a>
                </p>
                <p class="mb-1 text-center">
                  <a routerLink="/stories/1/chapters/1">Chapter 5: Wait</a>
                </p>
                <p class="mb-1 text-center">
                  <a routerLink="/stories/1/chapters/1">Chapter 6: No, He Is Dead.</a>
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>